<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.web.springboot.dao.SysUserRoleMapper" >
  <resultMap id="BaseResultMap" type="com.web.springboot.entity.SysUserRole" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="sys_user_id" property="sysUserId" jdbcType="INTEGER" />
    <result column="sys_role_id" property="sysRoleId" jdbcType="INTEGER" />
  </resultMap>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from sys_user_role
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.web.springboot.entity.SysUserRole" >
    <selectKey resultType="java.lang.Integer" keyProperty="id" order="BEFORE" >
      SELECT LAST_INSERT_ID()
    </selectKey>
    insert into sys_user_role (id, sys_user_id, sys_role_id
      )
    values (#{id,jdbcType=INTEGER}, #{sysUserId,jdbcType=INTEGER}, #{sysRoleId,jdbcType=INTEGER}
      )
  </insert>
  <update id="updateByPrimaryKey" parameterType="com.web.springboot.entity.SysUserRole" >
    update sys_user_role
    set sys_user_id = #{sysUserId,jdbcType=INTEGER},
      sys_role_id = #{sysRoleId,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select id, sys_user_id, sys_role_id
    from sys_user_role
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAll" resultMap="BaseResultMap" >
    select id, sys_user_id, sys_role_id
    from sys_user_role
  </select>
</mapper>